<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Profile#<%= @profile.name.titleize %></h1>
    </div>

    <div class="col-lg-12">

      <div class="form-group">
        <span> Log History: </span>
        <%= select_tag :path, options_from_collection_for_select(@profile.profile_logs, "id", "title"), class: 'form_control', id: 'select_profile_log' %>
        <%= hidden_field(:profile, :id) %>
        <span class="help-block"></span>
      </div>

      <pre id="treeProfile"></pre>
    </div>

    <div class="col-lg-12">
      <%= link_to 'Back to profile', profiles_path %>
    </div>

  </div>
</div>
