<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Profile#index</h1>
    </div>
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table" id="profileTable">
          <caption class="text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Profile
            </button>
          </caption>
          <thead>
          <tr>
            <th>Profile</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <% @profiles.each do |p| %>
              <%= render partial: 'single_row', locals: {profile: p} %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="profileModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Profile</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>