<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Profile#index</h1>
    </div>
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table">
          <caption class="text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Profile
            </button>
          </caption>
          <th>
            <td>Profile</td>
            <td>Frequency</td>
            <td>Files</td>
            <td>Storage</td>
            <td>Last backup</td>
            <td>Next Backup</td>
            <td>Action</td>
          </th>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Profile</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="profileName">Profile Name</label>
            <input type="text" class="form-control" id="profileName" placeholder="Profile Name">
          </div>
          <div class="form-group">
            <label for="paths">Directories</label>
            <textarea class="form-control" id="paths" rows="4" placeholder="Directories"></textarea>
            <small><i>Type directory or file-path to be backed up, separate by coma ( ,)</i></small>
          </div>
          <div class="form-group">
            <label for="excludes">Exclusions</label>
            <textarea class="form-control" id="excludes" rows="4" placeholder="Exclusions"></textarea>
            <small><i>Type directory or file-path exclusions, separate by coma ( ,)<br>
            Matching files or directories will not be backed up
            </i></small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </div>
</div>